@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

:root {
  --prime: rgb(65, 131, 189);
  --second: whitesmoke;
  --third: rgb(31, 36, 54);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("https://source.unsplash.com/random/?winter");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Playpen Sans", sans-serif;
  font-size: 20px;
  color: var(--prime);
}

h1,
.thema {
  background-color: var(--prime);
  color: var(--second);
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}

.thema {
  background-color: var(--prime);
}

p {
  text-align: center;
}

.content {
  background-color: rgba(245, 245, 245, 0.811);
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 5px 4px 12px -2px rgba(0,0,0,0.75);
  margin: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 1rem;
}

button {
  background-color: var(--prime);
  color: white;
  border: 0;
  font-family: "Playpen Sans", sans-serif;
  padding: .5rem 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

label:hover,
input[type="radio"]:hover {
  cursor: pointer;
}

.info {
  font-size: 1rem;
  color: coral;
  margin-top: 1rem;
}